@font-face {
  font-family: "Lato Bold";
  font-style: normal;
  font-weight: normal;
  src: url(assets/fonts/Lato-Bold.ttf) format('opentype');
  }

@font-face {
  font-family: "Lato Light";
  font-style: normal;
  font-weight: normal;
  src: url(assets/fonts/Lato-Light.ttf) format('opentype');
  }

@font-face {
  font-family: "Lato Black";
  src: url('fonts/Lato-Black.eot');
  src: local('☺'), url('fonts/Lato-Black.woff') format('woff'), url('fonts/Lato-Black.ttf') format('truetype'), url('fonts/Lato-Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: normal;
  src: url(assets/fonts/Lato-Regular.ttf) format('opentype');
  }


* {
  margin: 0;
  box-sizing: border-box;
}
.contents{
  width: 1020px;
  margin: 0 auto;
  overflow: hidden;
}

header{
  background-color: #2D303A;
  height: 95px;
  width: 1020px;
  display: flex;
  justify-content: space-between;
  border-bottom: 6px solid #323746;
  font-family: "Lato Bold", sans-serif;
  color: white;
}

.logotype{
  margin-left: 40px;
  height: 40px;
  position: relative;
}
h1{
  font-size: 25px;
  line-height: 25px;
  margin-top: 32px;
  display: inline-block;
}

.logotype div{
  display: inline-block;
}

header .active{
  color: #F06C64;
}
.str{
  position: absolute;
  transform: scale(1.5);
  top: 35px;
}

nav{
  margin-top: 41px;
  margin-right: 10px;
}
a{
  text-decoration: none;
  color: white;
}
#menu{
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}
#menu li{
  margin-right: 29px;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
}
li:not(:last-child)::after {
content: "";
background-color: #494e62;
width: 2px;
height: 2px;
border-radius: 50%;
position: absolute;
top: 55%;
right: -16px;	
}
nav li:hover{
  cursor: pointer;
  color:rgb(83, 135, 184);
}


.mobile_phone{
  position: relative;
  background-color: #F06C64;
  width: 1020px;
  height: 600px;
  border-bottom: 6px solid #EA676B;
  
}

.mobile_phone_ver{
  position: absolute;
  top: 53px;
  left: 112px;
}

.mobile_phone_hor{
  position: absolute;
  top: 174px;
  left: 425px;
}

.arrow_left{
  position: absolute;
  top: 281px;
  left: 42px;
  opacity: 0.25;
}
.arrow_right{
  position: absolute;
  top: 281px;
  left: 964px;
  opacity: 0.25;
}
.arrow_left:hover,
.arrow_right:hover{
  cursor: pointer;
  opacity: 1;
}


.services_block{
  position: relative;
  background-color: #F2F2F2;
  width: 1020px;
  height: 500px;
  border-bottom: 6px solid #fff;
  color: #666D89;
  padding: 59px 40px 0 40px;
}

.services_block h2{
  font-family: "Lato Black", sans-serif; 
}
h3{
  font-family: "Lato Black", sans-serif; 
}

h2{
  font-size: 30px;
  
}
h3{
  font-size: 18px;
}

.servicesData{  
  margin-top: 18px;
  font-family: "Lato Regular", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  word-spacing: -1px;
}

.service{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 45px;
}

article{
  position: relative;
  width: 298px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 123px;
}

article>div:first-child{
  position: relative;
  display: flex;
  width: 59px;
  height: 59px;
  align-items: center; 
  justify-content: center;
  border: 2px solid #666D89;
  border-radius: 29px;
  margin-top: 2px;
}

article h3{
  margin-bottom: 10px;
  margin-top: -2px;
}

article p{
  width: 219px;
  height: 60px;
  font-family: "Lato Light", sans-serif;
  font-size: 12px;
  line-height: 21px;
  text-align: justify;
  margin-top: -2px;
  color: #767e9e;
  overflow: hidden;
}

.portfolio{
  background-color: #2D303A;
  height: 869px;
  width: 1020px;
  border-bottom: 6px solid #323746;
  font-family: "Lato Bold", sans-serif;
  color: #666d89;
  padding: 59px 40px 0 40px;
}

.portfolio h2{
  font-family: "Lato Black", sans-serif;
  font-size: 30px;
  letter-spacing: -0.01em;
}

p{
  font-family: "Lato Light";
  font-size: 18px;
  margin-top: 22px;
}

.portfolio-button{
  margin-top: 14px;
  margin-left: 1px;
}
button:first-child{
  padding: 2px 7px 3px 6px;  
}
button:nth-child(3){
  padding: 2px 6px 3px 5px;
  margin-right: 6px;  
}
button:last-child{
  padding-right: 5px;  
}
button{
  background-color: #2D303A;
  color: #666d89;
  border: 1px solid #666d89;
  border-radius: 5px;
  padding: 2px 6px 3px 6px;  
  margin-right: 7px;  
  font-family: "Lato Regular", sans-serif; 
  font-size: 12px;      
}


button:hover{
  color:#fff;
}

button:focus {
  outline: none;
}

.active{
  color: #fff;
  border-color: #fff;
}

.picture{
  width: 940px;
  height: 621px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -1px;
}

.picture img{
  margin-top: 20px;
}

.about-us{
  position: relative;
  background-color: #F2F2F2;
  width: 1020px;
  height: 734px;
  border-bottom: 6px solid #fff;
  color: #666D89;
  padding: 59px 40px 0 40px;
}

.persons-box{
  display: flex;
}

.person:first-child{
  margin-right: 19px;
}

.person:nth-child(2){
  margin-right: 21px;
}

.person{
  width: 300px;
  margin-right: 20px;
}

.person:nth-child(2) .persone_name{
  margin-left: 0;
}
.details-name{
  font-family: "Lato Black", sans-serif;
  font-size: 18px;
  max-height: 22px;
  overflow: hidden;
  margin-top: 11px;
  margin-left: -1px;
  letter-spacing: -0.01em;
}

.person:first-child .persone_desc{
  letter-spacing: -0.005em;
}
.information_details{
  text-align: justify;
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0em;
  margin-top: 8px;
}

.person:nth-child(3) .persone_socials{
  margin-left: -1px;
}
.persone_socials{
  display: flex;
}

.social{
  width: 32px;
  height: 32px;
  border: 1px solid #666D89;
  border-radius: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 7px 0 1px;
}
.social:hover{
  border-color: black;
  border-width: 2px;
  background-color: white;
  cursor: pointer;
}

.social:hover img{
  transform: scale(1.2);
}


.contacts{
  background-color: #F06C64;
  height: 654px;
  width: 1020px;
  border-bottom: 6px solid #EA676B;
  color: #F0D8D9;
  padding: 59px 40px 0 40px;
  
}

.contacts h2{
  font-family: "Lato Black", sans-serif;
  font-size: 30px;
  letter-spacing: -0.005em;
}

.content_contact{
  font-family: "Lato Light", sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin-top: 18px;
  text-align: justify;
}

.contact_box{
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}

form{
  width: 619px;
  display: flex;
  flex-direction: column;
}
.contact_box input{
  background-color: #D6564F;
  border: none;
  border-radius: 5px;
  margin-bottom: 16px;
  height: 38px;
  padding-left: 14px;
  padding-bottom: 2px;
}
.contact_box input::placeholder{
  color: #F28B8E;
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;
}
.contact_box textarea{
  background-color: #D6564F;
  border: none;
  resize: none;
  border-radius: 5px;
  padding-left: 14px;
  padding-top: 10px;
  height: 202px;
}
.contact_box textarea::placeholder{
  color: #F28B8E;
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;
}
.contact_box .submit{
  background-color: #F0D8D9;
  width: 150px;
  margin: 10px auto;
}
.contact_box .submit:hover{
  cursor: pointer;
  background-color: #2D303A;
  color: #F0D8D9;
}

.contact_info{
  width: 300px;
  display: flex;
  flex-direction: column;
}
.contact_info h3{
  font-size: 18px;
  line-height: 18px;
}
.information{
  font-size: 12px;
  margin-top: 10px;
  text-align: justify;
  line-height: 22px;
  hyphens: auto;
  word-break: break-all;
}
.contact_info_main{
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  line-height: 22px;
}
.contact_info_main>*{
  position: relative;
}
.icon{
  position: relative;
  display: inline-block;
  width: 13px;
  height: 12px;
  text-align: center;
  margin-right: 10px;
}

.contact_info_main .phone{
  color: #F0D8D9;
  position: absolute;
  top: -1px;
}
.contact_info_main .mail{
  color: #F0D8D9;
  position: absolute;
  top: -1px;
}

footer{
  background-color: #2D303A;
  height: 77px;
  width: 1020px;
  color: #666d89;
  padding: 20px 40px 0 40px;
  display: flex;
  justify-content: space-between;
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;
}
.socials{
  display: flex;
}
.details-photo{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 7px 0 1px;
}
.details-photo:hover{
  background-color: white;
  cursor: pointer;
}
.footer_logotype{
  margin-top: 10px;
  margin-left: 2px;
  letter-spacing: -0.01em;
}
.footer_socials{
  margin-right: -7px;
  margin-top: -22px;
}


.mobile_phone{
  box-sizing: border-box;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  height: 695px;
  padding-top: 95px;
}

.mobile_phone a{
  position: relative;
  top: -95px;
}

.blue{
  background-color: #648BF0;
  border-bottom: 6px solid #648BA1;
  transition: background-color, 0.5s;
}

.red{
  background-color: #f06c64;;
  border-bottom: 6px solid #ea676b;
  transition: background-color, 0.5s;
}

.wrapper-mobile_phone{
  width: 1020px;
  margin: 0 auto;
  height: 100%;

}

.mobile_phone_container{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.left-arrow{
  position: absolute;
  left: 42px;
  top: 281px;
  z-index: 1;
}

.right-arrow{
  position: absolute;
  right: 40px;
  top: 281px;
}

.mobile_phone_iphone-vertical{
  position: absolute;
  left: 112px;
  top: 53px;
}

.mobile_phone_iphone-horizontal{
  position: absolute;
  right: 111px;
  top: 174px;
}

.mobile_phone_black-screen-vertical{
  display: none;
  position: absolute;
  width: 190px;
  height: 335px;
  background-color: black;
  border-radius: 4px;
  z-index: 1;
  top: 117px;
  left: 125px;
}

.iphone-vertical_button{
  cursor: pointer;
  position: absolute;
  bottom: 39px;
  left: 86px;
  width: 41px;
  height: 41px;
}

.mobile_phone_black-screen-horizontal{
  display: none;
  position: absolute;
  width: 335px;
  height: 190px;
  background-color: black;
  border-radius: 4px;
  z-index: 1;
  top: 187px;
  left: 484px;
}

.screen-on{
  display: block;
}

.iphone-horizontal_button{
  cursor: pointer;
  position: absolute;
  top: 87px;
  left: 9px;
  width: 41px;
  height: 41px;
}

.second{
  height: 100%;
}

.mobile_phone_slides{
  display: none;
  position: absolute;
  animation: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.mobile_phone_slides.active {
  display: block;
}

.contacts{
  box-sizing: border-box;
  height: 654px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.contacts > a{
  position:relative;
  top: -95px;
}

.contacts_title{
  font-size: 30px;
  color: #f0d8d9;
  font-weight: 900;
  text-align: left;
  padding-top: 62px;
  letter-spacing: -0.25px;
}
.contacts_description{
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-weight: 300;
  text-align: left;
  padding-top: 16px;
  letter-spacing: -0.05px;
}
.contacts_form-container form{
  margin-right: 20px;
}
.contacts_form-container{
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
}
.form_input{
  width: 605px;
  height: 38px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  margin-top: 16px;
  padding-left: 14.5px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: normal;
}
.form_input:first-child{
  margin-top: 0;
}
.form_input::placeholder {
  color: #f48c8f;
}
.form_textarea{
  height: 191px;
  padding-top: 11px;
  font-size: 12px;
  font-family: Lato, sans-serif;
  font-weight: normal;
  letter-spacing: -0.07px;
  resize: none;
}
.form_submit{
  border-radius: 10px;
  width: 100px;
  height: 40px;
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 15px;
  background-color: #f0d8d9;
  border: none;
}

.modal_overlay{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #EA676B;
  display: flex;
}

.modal_window{
  width: 300px;

  margin: auto auto;
  background-color: white;
  border-radius: 10px;
}

.modal_header, .modal_body{
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  word-wrap: break-word;
  max-height: 150px;
}

.modal_description{
  overflow: hidden;
}

.modal_sending{
  overflow: hidden;
  text-align: center;
}

.modal_footer{
  display: flex;
}

.modal_footer button{
  margin: 20px auto;
  width: 30px;
}

.contact_title{
  font-size: 18px;
  color: #f0d8d9;
  font-weight: 900;
  text-align: left;
}
.contact_description{
  width: 300px;
  padding-top: 7px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-weight: normal;
  text-align: left;
  letter-spacing: -0.1px;
}
.contact_info{
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.contact_info li{
  font-size: 12px;
  color: #f0d8d9;
  font-weight: normal;
  list-style-type: none;
}
.contact_info li:nth-child(2){
  padding-top: 6px;
}
.contact_info li:nth-child(3){
  padding-top: 7px;

}
.info_phone,
.info_mail{
  text-decoration: none;
  font-size: 12px;
  color: #f0d8d9;
  font-weight: normal;
  padding-left: 22px;
}
.contact_info li:first-child::before {

  position: absolute;
}
.contact_info li:nth-child(2)::before {

  position: absolute;
}
.contact_info li:nth-child(3)::before {

  position: absolute;
  padding-top: 2px;
}
.contact_location{
  padding-left: 22px;
}

.footer{
  height: 76px;
  background-color: #2d303a;
}

.footer_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}
.copyright_logo{
  font-size: 12px;
  font-weight: normal;
  color: #666d89;
  letter-spacing: -0.16px;
}
.footer_icons{
  display: flex;
}
.footer_icon{
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #666d89;
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.ico_facebook {
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  background-size: 8px;
}
.ico_google {
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  background-size: 14px;
}
.ico_twitter {

  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  background-size: 15px;
}
.ico_lnkdn {

  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  background-size: 15px;
}
.footer_icon:hover{
  background-color:blueviolet;
  cursor: pointer;
}